[submodule "library"]
    path = analog/library
    url = https://github.com/UW-ASIC/AnalogLibrary.git
[submodule "UWASIC-ALG"]
    path = analog/library/dep_library/UWASIC-ALG
    url = https://github.com/UW-ASIC/UWASIC-ALG.git
[submodule "analog/library"]
	path = analog/library
	url = https://github.com/UW-ASIC/AnalogLibrary
